.clip-path {
  /* clip-path: polygon(0 0, 100% 0, 100% 61%, 1% 61%); */
  height: 500px;
  overflow: hidden;
  transition: all 0.25s;
}

.clip-path-active {
  height: 100%;

  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
}
